$text-font: Helvetica;
$bg-color: #e6e6e6;
$color: #787878;
$error-color: #c65353;
$button-color: #46b02c;
$resp-color: #fcf9d7;


@mixin flex($direction: row, $justify: center, $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin shadow($color:rgba(0,0,0,0.3), $inside: 0,$horizontal: 0, $vertical: 2px, $blur: 8px, $size: 0){
  @if $inside == 0{
    -webkit-box-shadow: $horizontal $vertical $blur $size $color;
  -moz-box-shadow: $horizontal $vertical $blur $size $color;
  box-shadow: $horizontal $vertical $blur $size $color;
  }@else{
    -webkit-box-shadow: inset $horizontal $vertical $blur $size $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $size $color;
  box-shadow: inset $horizontal $vertical $blur $size $color;
  }
}

*{
  font-family: $text-font;
  color: $color;
  margin: 0;
  padding: 0;
}
body{
  background-color: hsla(0, 0%, 90%, 0.214);
}

.container{
  @include flex(column, space-between, center);
  .clock-to-angle{
    @include flex(column, space-between, stretch);
    @include shadow;
    background-color: hsl(0, 0%, 100%);
    margin-top: 50px;
    height: 400px;
    min-width: 560px;
    border-radius: 3px;
    padding: 35px 40px;

    h2{
      margin-top: 20px;
      padding: 0;
      text-align: justify;
      font-weight: 400;
    }
    
    hr{
      width: 100%;
      opacity: 0.2;
    }
    .error{
      padding: 10px;
      @include shadow($error-color, 1, 0, 0, 1px, 0);
      border: 1px solid $error-color;
      border-radius: 5px;
      color: $error-color;
      text-align: center;
      display: none;
      font-weight: 100;
    }
    .visible{
     display: inline-block;
    }

    form{
      @include flex(column, space-between, stretch);
      div{
        @include flex(row, space-between, stretch);
        h4{
          font-weight: 300;
        }
        .form-input{
          width: 48%;
          @include flex(column, space-between, stretch);

          input{
            box-sizing: border-box;
            border: none;
            width: 100%;
            margin: 5px 0;
            border: 1px solid $color;
            border-radius: 4px;
            padding: 10px;
            font-size: 0.9em;
            font-weight: 100;
            &::placeholder{
              color: $bg-color;
              
            }
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
            &:focus{
              outline: none;
              border: 1px solid $button-color;
            }
          }

        }
      }
      button{
        margin-top: 15px;
        cursor: pointer;
        width: 100%;
        background-color: $button-color;
        border: none;
        color: white;
        padding: 12px 0;
        border-radius: 4px;
        font-size: 1em;
      }
    }
    
    .result{
      @include flex(column);
      background-color: $resp-color;
      height: 25%;
      padding: 10px;

      #text, #info-message, #result-message{
        font-weight: 100;
        display: none;
        b{
          color: $button-color;
        }
      }
      .visible{
        display: inline-block !important;
      }
      .value{
        @include flex;
        margin-top: 20px;
        background-color: white;
        width: 100px;
        height: 60px;
        font-size: 32px;
        span{
          color: #787878;
          font-weight: 400;
        }
      }
    }
  }
}

