@font-face {
  font-family: titillium;
  src: url("../fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: open-sans-r;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: open-sans-l;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: open-sans-sm;
  src: url("../fonts/OpenSans-Semibold.ttf");
}
*{
  margin: 0;
  font-family: open-sans-l;
  color: #787878;
}
h2{
  font-family: open-sans-r;
}
body, .content, .container, span, .result, .value{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
body{
  background-color: rgba(230, 230, 230, 0.1);
}
.container{
  margin-top: 50px;
  width: 650px;
  height: 450px;
  border-radius: 3px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
}
.clock-to-angle{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 400px;
  width: 560px;
}
.vertical{
  flex-direction: column;
}
hr{
  border: none;
  border-top: 1px solid #e6e6e6;
  margin: 15px 0;
  color: #e6e6e6;
  width: 100%;
}
span.error{
  width: 100%;
  padding: 7px 0;
  border: 1px solid #c65353;
  box-shadow: inset 0px 0px 1px 0px rgba(198,83,83,1);
  border-radius: 4px;
  color: #c65353;
  display: none;
  transition: all .4s ease;
  text-align: center;
}
.visible{
  display: inline-block !important;
}
form{
  width: 100%;
  margin-top: 20px;
}
.form-content{
  width: 100%;
  justify-content: space-between;
}
.form-input{
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: center;
  align-items: flex-start;
}
.form-content input{
  box-sizing: border-box;
  border: none;
  width: 100%;
  margin: 5px 0;
  border: 1px solid rgba(120, 120, 120, 0.5);
  border-radius: 4px;
  padding: 10px;
  font-family: open-sans-r;
  transition: all .4s ease;
}
.form-content input:focus{
  outline: none;
  border: 1px solid #46b02c;
}
.form-content input::placeholder{
  font-family: open-sans-l;
  font-size: 14px;
  color: #e6e6e6;
}
button{
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  border: none;
  background-color: #46b02c;
  font-family: open-sans-r;
  color: white;
  padding: 10px 0;
  border-radius: 4px;
  font-size: 1em;
}

.result{
  flex-direction: column;
  background-color: #fcf9d7;
  width: 100%;
  min-height: 130px;
  margin: 20px 0 30px 0;
}
.result p,{
  color: #787878;
  font-family: open-sans-r;
  font-size: 18px;
}

.value{
  margin-top: 20px;
  background-color: white;
  width: 100px;
  height: 60px;
}
.value, .value span{
  color: #787878;
  font-family: open-sans-sm;
  font-size: 32px;
}

#text{
  display: none;
}
#info-message{
  display: none;
}
#result-message{
  display: none;
}
#result-message b{
  color: #46b02c;
}
